$primary:   #4077AA;
$secondary: #D0D0D0;
$light:     #F0F0F0;
$dark:      #333333;
$success:   #4CAF50;
$danger:    #FF6F61;

$theme-colors: (
  primary:   $primary,
  secondary: $secondary,
  light:     $light,
  dark:      $dark,
  success:   $success,
  danger:    $danger
);

@import "~bootstrap/scss/bootstrap.scss";


#root {
  min-height: 100vh;
  overflow-x: hidden;
}

.main {
  width: 100vw;
  max-width: 100%;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  font-weight: 200;
  font-size: 4em;
  margin-top: 10vh;
}
.sub-header {
  max-width: 75%;
  margin: auto;
}


h4 {
  font-size: 1.5rem;
}

p, label, input, .btn {
  font-size: 1.2em;
  color: $dark;
}

.login-inputs {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
}
label {
  text-align: right;
  padding: $spacer * 0.25;
}
input {
  vertical-align: middle;
  padding: $spacer * .25;
  border: 1px solid $dark;
  outline: none;
}

.window {
  margin-top: 10vh;
}

.window > div {
  border-radius: 3px;
  background-color: $secondary;
  overflow: auto;
  width: 50vw;
  min-width: fit-content;
}


.announcements {
  max-width: 46vw;
}

.window:has(.announcements) > div {
  padding: 2vw;
  max-height: 50vh;
  overflow-y: scroll;
}

.announcements > p {
  margin-left: $spacer;
  margin-right: $spacer;
}

footer p {
  font-size: 1.1em;
}

.btn-settings {
  border: none;
}


.messages {
  padding: ($spacer * 1.5) $spacer;
  padding-bottom: 70px;
  
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  & > p {
    margin-bottom: 0;
    margin-top: $spacer * 0.25;
  }
}

.input-bar {
  height: 60px;
  padding: 5px;
  width: 100%;

  & > input {
    width: 80%;
    max-width: 900px;
    height: 100%;
    border-radius: 50px;
    font-size: 1.2em;
    padding: 20px;
    margin: 0 15px;
  }

  & > button {
    padding: 0;
    border: none;
  }
}




.debug { background-color: $danger; border: 1px solid black; }
